.card {
  display: flex;
  justify-content: center;
}

.article {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
  padding: 0.5em 1em;
  border-radius: 1em;
  gap: 0.25em;
  box-shadow: 2px 2px 15px var(--dark);
  text-align: center;
}

.image {
  width: 80%;
}

.image:hover {
  opacity: 50%;
}

.title {
  font-family: var(--title-font);
  font-size: 0.8em;
}

.button {
  border-radius: 1.5em;
  border-color: var(--light);
  color: black;
  background-color: #e07f61;
  width: 4em;
  height: 2em;
  font-family: var(--title-font);
  font-size: 1.2em;
  margin: 0.25em;
}

.button:hover {
  background-color: var(--light);
  border: 3px solid #e07f61;
  color: var(--dark);
  box-shadow: 3px 3px 5px #e07f61;
  transform: scale(1.15);
}
