.footerMain {
  background-color: brown;
  color: antiquewhite;
  border: solid 0px 0px 10px 0px blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  align-items: end;
}

.footerMiddle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.footerRight {
  width: 25%;
}

.social {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* .logoClass {
  width: 200px;
} */
