.filter {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: auto;
  gap: 1.5vw;
  padding: 2vh 0;
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 3vw;
  }
}
.button_filter {
  display: flex;
  flex-direction: column;
}
.button {
  font-family: var(--title-font);
  font-size: 1.4vw;
  width: 10vw;
  height: 5vh;
  background-color: var(--filter-color);
  border-radius: 10px;
  box-shadow: -1px 2px 5px 1px;
  border-color: var(--light);
  @media screen and (max-width: 768px) {
    font-size: 1.9vw;
    font-weight: bold;
  }
}
.button:active {
  transform: translate(0, 2px);
}
.fieldset {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border-color: var(--light);
  position: absolute;
  width: 10vw;
  @media screen and (max-width: 768px) {
    position: relative;
  }
}

.label {
  margin: 0.3vw;
  display: flex;
  flex-direction: row;
  gap: 1em;
  font-family: var(--text-font);
  color: var(--light);
  @media screen and (max-width: 768px) {
    font-size: 2vw;
  }
}
